{% extends "base.html.j2" %}
{% block sidebar %}
<div class="sidebar">
    <h2>Contents</h2>
    <ul>
{% for page in nav %}
        <li><a href="{{ page.href }}"{% if page.slug == active_slug %} class="active"{% endif %}>{{ page.title }}</a></li>
{% endfor %}
    </ul>
</div>
{% endblock %}
{% block content %}
{{ body_html|safe }}
{% endblock %}
{% block body_end %}
{% if has_highlight %}
<script>hljs.highlightAll();</script>
{% endif %}
{% endblock %}
